# Environment variables for Shopify Storefront API
SESSION_SECRET="foobar"

# Shopify Store Domain
PUBLIC_STORE_DOMAIN="technical-assignment-vilkdxkc.myshopify.com"

# Public Storefront Access Token
PUBLIC_STOREFRONT_API_TOKEN="2f90ef9fbef20488907303787e12d7f7"

# Private Storefront Access Token
PRIVATE_STOREFRONT_API_TOKEN=""
